@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Those are no longer needed - only used for prod fix, when demonstrating the subpixel rendering issue */
.transform.-scale-100 {
  transform: scale(-1);
}

.transform.-scale-x-100 {
  transform: scaleX(-1);
}

.transform.-scale-y-100 {
  transform: scaleY(-1);
}
